


@model eZeljeznice.Web.Areas.ModulAdministracija.Models.TipZaposlenikaPrikaziVM

@using eZeljeznice.Web.Areas.ModulAdministracija.Models



<div class="panel">


    <div id="content-wrapper">



        <div class="table-light">
            <div class="table-header">
                <div class="table-caption">
                   Tipovi zaposlenika
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>Naziv</th>
                        <th>Opis</th>
                        <th>Akcija</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (TipZaposlenikaPrikaziVM.TipZaposlenikaInfo x in Model.TipoviZaposlenika)
                    {

                        <tr>
                            <td>@x.Naziv</td>
                            <td>@x.Opis</td>
                            <td>
                                <a class="btn btn-danger btn-sm" style="color:black" href="/ModulAdministracija/TipZaposlenika/Obrisi?tipZaposlenikaId=@x.Id">Obriši</a>
                                @Ajax.ActionLink("Uredi", "Uredi", new { tipZaposlenikaId = x.Id }, new AjaxOptions { UpdateTargetId = "ajax-tip-zaposlenika" }, new { @class = "btn btn-primary btn-sm" })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @Ajax.ActionLink("Dodaj novi", "Dodaj", null, new AjaxOptions { UpdateTargetId = "ajax-tip-zaposlenika" }, new { @class = "btn btn-primary btn-sm" })


        </div>

        <div class="panel panel-success col-md-5">

            <div id="ajax-tip-zaposlenika">



            </div>

        </div>



    </div>


</div>



