<h3 class="m-y-4 p-t-4 text-xs-center" style="text-align:center">Uprava Željeznice Federacije Bosne i Hercegovine</h3>


<div class="row">
    <div class="col-md-6">
        <div class="panel box">

            <div class="box-cell p-y-2 p-x-3 valign-middle" style="margin:15px">
                <div class="font-size-14"><strong>Emir Jahic</strong></div>
                <p class="text-muted font-size-11 font-weight-semibold">Upravnik</p>
                <p>
                    <strong>Kontakt telefon: </strong>+387 62 456 789<br />
                    <strong>Email: </strong>emir.jahic@zfbih.com
                </p><div>
                    <a href="#" class="text-muted"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-muted"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-muted"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel box">

            <div class="box-cell p-y-2 p-x-3 valign-middle" style="margin:15px">
                <div class="font-size-14"><strong>Ahmet Mahmutović</strong></div>
                <p class="text-muted font-size-11 font-weight-semibold">Generalna direkcija</p>
                <p>
                    <strong>Kontakt telefon: </strong>+387 61 456 000<br />
                    <strong>Email: </strong>kabinet@zfbih.com
                </p><div>
                    <a href="#" class="text-muted"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-muted"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-muted"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel box">

            <div class="box-cell p-y-2 p-x-3 valign-middle" style="margin:15px">
                <div class="font-size-14"><strong>Haris Herić</strong></div>
                <p class="text-muted font-size-11 font-weight-semibold">Podrška korisnicima</p>
                <p>
                    <strong>Kontakt telefon: </strong>+387 63 456 800<br />
                    <strong>Email: </strong>podrska@zfbih.com
                </p><div>
                    <a href="#" class="text-muted"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-muted"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-muted"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel box">

                <div class="box-cell p-y-2 p-x-3 valign-middle" style="margin:15px">
                    <div class="font-size-14"><strong>Adi Karić</strong></div>
                    <p class="text-muted font-size-11 font-weight-semibold">Administrativna služba</p>
                    <p>
                        <strong>Kontakt telefon: </strong>+387 63 456 600<br />
                        <strong>Email: </strong>admin@zfbih.com
                    </p><div>
                        <a href="#" class="text-muted"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
                        <a href="#" class="text-muted"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
                        <a href="#" class="text-muted"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    </div>
